*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align:left;
    color:s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding:30px;
    font-style:normal;
}
.center{
    width: fit-content;
    margin: auto;
    border: 2px dashed black;
}

#resto{
    width: ;
    text-align: center;
    padding-right: 100px;
    padding-top: 50px;
    text-shadow: 2px 2px black;
}
h1{
    text-align: center;
    
}
.header{
    color:white;
    font-size: 35px;
    font-weight: bolder;
    width:1470px;
    height:250px;
    background-image:
        url("./images/background2.png");
        opacity: 0.9;  
        text-align: center;
        
}

}
#moto{
    width: fit-content;
    font-style: italic;
    color: white;
    font-size:50PX;
}
#slang{
    font-size: 50%;
    width: 20%;
    margin-top:100px;
    margin-left:0px;
    font-size: small;
    
}

nav{
    background-color:#008080;
    display:grid;
    place-items: center;
    color: white;

}
nav u1{
    list-style-type: none;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
nav u1 a{
    display:inline-block;
    padding:20px;
    text-decoration: none;
    color:#f9f9f9;
    transition: 0.2s ease-in;
    font-size: 20px;
    font-weight: 600;
}
ul{
    list-style-type: none;
}
nav u1 a:hover{
    background-color: #f9f9f9;
    color:#008080;
}
.items{
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    padding:30px 20px;
    grid-column-gap:20px;
    grid-row-gap:30px;
    flex:auto;
}
.item img{
    width:100%;
    height:300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
    transform:scale(1.04);

}
.item h4{
    padding:5px;
    text-align: center;
}
.item button{
    padding:5px 30px;
    border:none;
    outline:none;
    background-color: #008080;
    color:white;
    cursor:pointer;
    border-radius: 4px;
    font-size:20px;
    display:block;
    margin:0 auto;
    transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.04);
}
@media screen and(max-width: 1000px){
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and(max-width: 768px){
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* body{
 
} */
.background{
    background-image: url("");
    background-size: cover ;
    background-repeat: no-repeat;

}
h2{
    font-size: 30px;
    font-style: italic;
    font-display:inherit;
}


/*#c1{
    color:white;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}*/

.down{
    
    display:flex;
    flex-direction:row ;
    width:100%;
    height:auto;
    
    
}
.welcoming{
    height:400px;
    width:750px;

}
#c3{
    background-color: white;
    color:#008080;
    font-size: 25px;
}
#c4 {
    
}
#c5{
    height: 20%;
    width: 90%;
    margin: auto;
    border-radius: 100px;
    background-color:yellow;
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    scroll-behavior: smooth;
}
.btn {
    padding: 10px 15px;
    background-color: #0E1116;
    color: #f9f9f9;
    font-weight: 300px;
    border: none;
    border-radius:5px;
    font-weight: 500;
    float: right;

}
.btn:hover{
    box-shadow: 1px 1px 1px #0E1116;
    cursor:pointer;
}
[type="text"] {
    padding: 2px 10px;
    margin-left: 20px;
    margin-bottom: 18px;

}
.food_section{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    background-color:aliceblue;
}
.dish_of_the_day{
    border: 2px solid ;
    height: 50%;
}
.specialties {
    
    height: 50%;
}

#offer_1{
    width: 200px;
    
    flex-direction:column;
    padding: 15px;
    text-align: center;
    margin: auto;
    

    
}
#offer_2{
    width: 200px;
    display: flex;
    flex-direction:column;
    padding: 15px;
    text-align: center;
    margin: auto;
    
}
#offer_3{
    width: 200px;
    
    flex-direction:column;
    padding: 15px;
    text-align: center;
    margin: auto;
    
}
#c6{
    margin: auto;
}
#foodOfTheDay{
    border-radius: 200px;
    width: 30%;
    float: right;
}
#textForFoodOfTheDay{
    float: left;
    text-align: center;
    margin: auto;
    padding: 50px 0px 50px 75px;
}
#text2{
    padding: 25px 0px 0px 75px;
}
#menu{
    padding-left: 50px;
}
#menu.li{
    padding: 2px;
}
#logo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top:45px;
    margin-left: 90px;
    float: left;
    
}
#feedback{
    font-size: smaller;
    color:black;
    background-color:s;
}
.footer {
    background-color: #008080;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  
  /* Footer links */
  
  .footer p.footer-links {
      text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
    margin: 2px;
    padding: 4px;
  }
  
  
  
  .footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  